body, p, a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: #1772d0;
    text-decoration: none;
}
  
a:focus,
a:hover {
    color: #f09228;
    text-decoration: none;
}

.container {
    max-width: 52em;
    margin: 2em auto;

    padding-bottom: 4em;
}


.profile {
    display: flex;
    align-items: center;
}

.name {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 400;

    text-align: center;
}

.profile-image {
    max-width: 396px;
    margin-left: 3em;

    border-radius: 50%;
    overflow: hidden;
}


.heading {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;

    margin-top: 1em;
}

.paper {
    display: flex;

    align-items: center;
    margin-bottom: 3em;
}

.paper-image {
    width: 160px;
}

.paper-info {
    margin-left: 3em;
}

.paper-title {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;

    margin-bottom: 0.3em;
}
